<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>Contacts d'équipe</h5>
        <hr>
        <ul class="list-unstyled quick-links">
          <li><a href="https://www.linkedin.com/in/mohamed-elyousfi/" target="_blank"><i class="fa fa-angle-double-right"></i>ELYOUSFI Mohamed</a></li>
          <li><a href="https://www.linkedin.com/in/elaamiri-essadeq/" target="_blank"><i class="fa fa-angle-double-right"></i>EL-AAMIRI Essadeq</a></li>
          <li><a href="https://www.linkedin.com/in/salma-khadidi-8aab87229/" target="_blank"><i class="fa fa-angle-double-right"></i>KHADIDI Salma</a></li>
          <li><a href="https://www.linkedin.com/in/soukaina-el-kamouni-238651208/" target="_blank"><i class="fa fa-angle-double-right"></i>ELKAMOUNI Soukaina</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h5>Ressources</h5>
        <hr>
        <ul class="list-unstyled quick-links">
          <li><a href="https://www.researchgate.net/publication/359026071_Vers_un_systeme_de_recommandation_explicable_pour_l'orientation_scolaire" target="_blank"><i class="fa fa-angle-double-right"></i>Vers un système de recommandation pour l'orientation scolaire</a></li>
          <li><a href="https://www.researchgate.net/publication/334546926_Recommender_System_for_Orientation_Student" target="_blank"><i class="fa fa-angle-double-right"></i>Recommender System for Orientation Student</a></li>
          <li><a href="https://www.researchgate.net/publication/339170416_Recommender_System_Using_Machine_Learning" target="_blank"><i class="fa fa-angle-double-right"></i>Recommender System Using Machine Learning</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
        <p class="h6">M'Orientation | All right Reversed</p>
      </div>
    </div>
  </div>
</section>
