<div class="banner">
  <div class="container">
    <h1>M’ORIENTATION</h1>
    <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt ut laoreet dolore magna
      aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nos-
      trud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex</p>
    <a routerLink="/form" class="button button-primary">Commencer...</a>
  </div>
</div>
<app-about-prj></app-about-prj>
<app-our-team></app-our-team>
