.container {
  position:relative;
  background: url("../../../assets/images/o-background.jpg") no-repeat fixed center center;
  background-size: cover;
  padding: 100px 100px 30px 100px;
  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.title h1 {
  font-weight: 800;
  font-size: 4rem;}
.title p {
  font-weight: 700;
  font-size: 1.8rem;
}

.result {
  text-align: center;
  font-size: 25px;
}

.result b {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.1vw #4FC3F7;
  -webkit-text-fill-color: #4FC3F7;
  text-transform: uppercase;
}

@keyframes animate {
  0%,10%,100% {
    width: 0;
  }
  70% {
    width: 100%;
  }

}


.conteneur {
  margin: 70px 50px 100px 50px;
  text-align: center;
}

.btn-primary {
  background-color: #2897c9;
  color: #FAFAFA;
  font-size: 15px;
  padding: 10px;
}

.btn-primary:hover {
  background-color: #04587e;
}

.col {
  border-left: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
