<section id="about_c" class="about_c">
  <div class="container">
    <h1 class="text-center hd" style="font-weight: bold">A propos le projet</h1>
    <div class="row">
      <p style="text-align: justify">L'orientation académique est une procédure qui consiste à aider les élèves
        dans leur chemin de la réussite éducative. Ce choix est très important, dû à sa nécessité dans
        la préparation à la vie professionnelle, ainsi que trouver la bonne voie vers le futur idéal.
        Il est très essentiel de choisir la bonne voie pour soi-même, pour éviter tout obstacle ou
        réorientation au futur. Il existe déjà des institutions qui organisent des sessions d’orientation
        pour les élèves, mais mais le nombre d'étudiants qui passe leur baccalauréat chaque année est très élevé
        (441.238 en 2020 au Maroc), ce qui nous a poussé à réaliser un système d'orientation pour rendre ce service accessible
        à tous les étudiants et aussi à rendre la procédure d'orientation très performante et en un laps de temps.<br><br>
        Alors l’objectif de notre projet est de suggérer aux étudiants les différents choix après BAC
        qui sont proches de leurs passions et attentes, dans l’espoir de les aider à mieux visualiser
        les différentes possibilités de carrières.<br><br>
        Pour répondre à cette problématique, notre projet consiste à
        entrainer un modèle de machine learning à partir des données collectées des personnes de
        presque même passion, même situation et même style de vie, pour répondre aux exigences
        et être capable de diriger les étudiants aux bons choix.
      </p>
    </div>
  </div>
</section>
