<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css">

  <section id="our_team" class="our_team">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
      <div class="col">
        <div class="card radius-15 bg-primary">
          <div class="card-body text-center">
            <div class="p-4 radius-15">
              <img src="../../../assets/images/elyousfi.jpeg" width="110" height="110"
                   class="rounded-circle shadow p-1 bg-white" alt="">
              <h5 class="mb-0 mt-5 text-white">ELYOUSFI Mohamed</h5>
              <p class="mb-3 text-white">Etudiant</p>
              <div class="list-inline contacts-social mt-3 mb-3"><a href="https://www.facebook.com/Utaku77/" target="_blank"
                                                                    class="list-inline-item border-0"><i
                class="bx bxl-facebook"></i></a>
                <a href="https://twitter.com/ELYOUSFI5Med" class="list-inline-item border-0" target="_blank"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.linkedin.com/in/mohamed-elyousfi/" class="list-inline-item border-0" target="_blank"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="d-grid"><a href="mailto:mohamed5elyousfi@gmail.com" class="btn btn-white radius-15 mt-3"><b>Contact Me</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-15 bg-danger">
          <div class="card-body text-center">
            <div class="p-4 radius-15">
              <img src="../../../assets/images/essadeq.jfif" width="110" height="110"
                   class="rounded-circle shadow p-1 bg-white" alt="">
              <h5 class="mb-0 mt-5 text-white">EL-AAMIRI Essadeq</h5>
              <p class="mb-3 text-white">Etudiant</p>
              <div class="list-inline contacts-social mt-3 mb-3"><a href="javascript:;"
                                                                    class="list-inline-item border-0"><i
                class="bx bxl-facebook"></i></a>
                <a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
                <a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="d-grid"><a href="#" class="btn btn-white radius-15 mt-3"><b>Contact Me</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-15 bg-warning">
          <div class="card-body text-center">
            <div class="p-4 radius-15">
              <img src="../../../assets/images/elkamouni.jfif" width="110" height="110"
                   class="rounded-circle shadow p-1 bg-white" alt="">
              <h5 class="mb-0 mt-5 text-white">ELKAMOUNI Soukaina</h5>
              <p class="mb-3 text-white">Etudiante</p>
              <div class="list-inline contacts-social mt-3 mb-3"><a href="https://www.facebook.com/profile.php?id=100020506092744"
                                                                    class="list-inline-item border-0"><i
                class="bx bxl-facebook"></i></a>
                <a href="https://twitter.com/souki_s_heaven" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
                <a href="javascript:;" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="d-grid"><a href="mailto:soukainaelkamouni00@gmail.com" class="btn btn-white radius-15 mt-3"><b>Contact Me</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-15 bg-info">
          <div class="card-body text-center">
            <div class="p-4 radius-15">
              <img src="../../../assets/images/khadidi.jfif" width="110" height="110"
                   class="rounded-circle shadow p-1 bg-white" alt="">
              <h5 class="mb-0 mt-5 text-white">KHADIDI Salma</h5>
              <p class="mb-3 text-white">Etudiante</p>
              <div class="list-inline contacts-social mt-3 mb-3"><a href="https://www.facebook.com/profile.php?id=100007990336899"
                                                                    class="list-inline-item border-0"><i
                class="bx bxl-facebook"></i></a>
                <a href="https://twitter.com/SalmaKhadidi" class="list-inline-item border-0"><i class="bx bxl-twitter"></i></a>
                <a href="https://www.linkedin.com/in/salma-khadidi-8aab87229/" class="list-inline-item border-0"><i class="bx bxl-linkedin"></i></a>
              </div>
              <div class="d-grid"><a href="mailto:salmakhadidi2@gmail.com" class="btn btn-white radius-15 mt-3"><b>Contact Me</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
